
@{
    ViewBag.Title = "Requester Request List ";
}
<script src="~/Angular/OrderManagementRequest/RequesterRequestCompleteList.js"></script>

<div class="row" ng-controller="RequesterRequestCompleteListController" id="RequesterRequestCompleteList">
    <div class="col-md-12">

        <div class="panel">
            <div class="panel-body">
                <form class="row mt1" ng-submit="RequesterRequestCompleteListFetch()">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" ng-model="RequesterRequestCompleteListSearch.Search" placeholder="Search ...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary col-xs-12"><i class="fa fa-search"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control select" ng-change="RequesterRequestCompleteListFetch()" ng-model="RequesterRequestCompleteListSearch.Active">
                            <option value="">All Statuses</option>
                            <option value="{{x}}" ng-repeat="x in lstStatus">{{x}}</option>

                        </select>
                    </div>
                    @*<div class="col-sm-4">
                            <button class="btn btn-primary pull-right" ng-click="AddLocationModalOpen()"><i class="fa fa-plus fa-fw"></i> Add Location</button>
                        </div>*@
                </form>
            </div>
        </div>


        <div class="panel panel-default collapsed">
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="RequesterRequestCompleteListTable" class="table table-striped table-hover dt-edit" style="margin-top:-1px !important; width: 100% !important">
                        <thead>
                            <tr>
                                <th>RequestTittle</th>
                                <th>RequestDate</th>
                                <th>RequesterName</th>
                                <th>SupervisorName</th>
                                <th>ManagementName</th>
                                <th>RequestStatus</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
    @*@Html.Partial("_LocationSetup");*@
</div>
