
@{
    ViewBag.Title = "Final Approval List";
}


<script src="~/Angular/User/UserList.js"></script>
<div class="row" ng-controller="UserController" id="DivUserManagement">
    <div class="col-md-12">

        <div class="panel">
            <div class="panel-body">
                <form class="row mt1" ng-submit="UserFetch()">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" ng-model="UserSearch.Search" placeholder="Search ...">
                            <input type="hidden" id="RoleName" value="Final Approval" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary col-xs-12"><i class="fa fa-search"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control select" ng-change="UserFetch()" ng-model="UserSearch.Active">
                            <option value="">All Statuses</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-primary pull-right" href="/user/FinalApprovalSetup"><i class="fa fa-plus fa-fw"></i> Add Final Approval</a>
                    </div>
                </form>
            </div>
        </div>


        <div class="panel panel-default collapsed">
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="UserTable" class="table table-striped table-hover dt-edit" style="margin-top:-1px !important; width: 100% !important">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

